<div class="center hero-unit">
	<h1>Calling all Carnevales.</h1>

	<h2>Is your last name Carnevale? Sign up, and be counted.</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>