<footer class="footer">
  <small>
    <a href="http://carneval.es/">Carneval.es</a>
    by Frank Carnevale
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Blog", '#' %></li>
    </ul>
  </nav>
</footer>